 body {
        background: linear-gradient(135deg, #f9a8d4, #fad0c4);
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding-top: 100px;
    }

    h1 {
        color: #e1306c;
        /* warna khas Instagram */
        font-size: 40px;
        margin-bottom: 10px;
    }

    p {
        color: #555;
        font-size: 20px;
        font-weight: bold;
    }